.Imageheading{
    padding: 50px;
    margin-left: 450px;
    margin-right: 400px;
    background-color: #4caf84;
    border: 3px;
    border-radius: 3%;
}
body{
    background-image: linear-gradient(to left,rgb(188,89,212),rgb(147,235,235));
}
.whitebox{
    background-color: white;
}
.signin{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    padding: 50px;
    background-color: white;
    border: black;
    border-radius: 3px;
}
footer{
    padding: 10px;
    margin-top: 50px;
}
*{
    box-sizing: content-box;
}
input[type="email"],input[type="password"]{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}
input[type="submit"]{
    background-color: #4daea1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}
input:hover{
    background-color: #4caf84;
}
.newuser:hover{
    color: red;
}
footer a:hover{
    color: red;
}